.btn-busca {
	background: none;
	border: none;
  color: #797979;
	cursor: pointer;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
	line-height: 11px;
	outline: inherit;
	margin: 5px;
  .icon-up-down {
		color: #8b8b8b;
		margin-left: 5px;
	}
}