.InputSelect {
  position: relative;

  .InputArrowDown {
    position: absolute;
    right: 10px;
    top: 15px;
  }
  .Input {
    background: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    height: 46px;
    width: 100%;
    padding: 10px;
  }

  .SelectCard {
    background: #fcfcfc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px dashed #f2f2f2;
    border-radius: 3px;
    padding: 10px;
    transition: 0.3s;
    position: absolute;
    width: 100%;
    pointer-events: auto;
    z-index: 1;
    .checkbox-label:not(:last-of-type) {
      background-color: #fcfcfc;
      margin-bottom: 10px;
    }
  }
}
