@charset "utf-8";

$purple: #8a4d76;
$pink: #fa7c91;
$royal-blue: #4169e1;
$navy-blue: #0f63f1;
$brown: #757763;
$dim-gray: #656565;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$whisper: #e5e5e5;
$persian-red: #c92d2d;
$blue-ghost: #f6f7fa;
$magic-mint: #9ce8c6;
$light-font: #797979;
$lighter-font: #656565;
$dark-font: #3e3e3e;
$darker-font: #000;
$nero: #242424;
$stainless-steel: #caccce;
$bilbao: #388c13;
$free-speech: #05e305;
$emerald: #48c774;
$gorse: #f7f72b;
$coral-red: #ff3f3f;
$radical-red: #ff3860;
$dodger-blue: #209cee;
