@import '../../../../styles/colors';
@import '../../../../styles/global';

.dropdown-option {
  border: none;
  background: #fff !important;
  width: 100%;
  border-radius: 5px;
  margin: 2px 0px;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-family: $font-montserrat;
  text-align: left;
  font-size: 0.9rem;
  color: $darker-font !important;
  font-weight: 300;

  &:hover {
    color: #0f63f1 !important;
  }
}
