@import '../../styles/colors';
@import '../../styles/global';
@import '../../styles/mixins';

@include keyframes(fade) {
  0% {
    opacity: 0.05;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(slide-right) {
  0% {
    width: 10%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}

.menu-validator--side {
  @include animation(fade 450ms);
}

.menu-validator--pipe {
  animation: slide-right 650ms, fade 500ms;
  z-index: 999;
}
