@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/global';

.page-container {
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
  @include for-phone-only {
    overflow-y: auto;
  }
  @include for-tablet-portrait-up {
    overflow-y: auto;
  }
  @include for-desktop-up {
    overflow: hidden;
  }
}
